NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32


DATABASE_URL="postgresql://postgres:PASSWORD@db.ID.supabase.co:5432/postgres"
#SHADOW_DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres"
OPENAI_API_KEY=""
RIOT_API_KEY=""
REDIRECT_URI="https://ADDRESS/api/auth/callback/google"
SUPABASE_URL="https://ID.supabase.co"
SUPABASE_KEY=""
#EMAIL_SERVER_HOST="smtp://username:password@smtp.example.com:587"
#GOOGLE_CLIENT_IDSMTP_HOST="noreply@example.com"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
#GITHUB_ID=""
#GITHUB_SECRET=""
EMAIL_SERVER_HOST="smtp.HOST.org"
EMAIL_SERVER_PORT="587"
EMAIL_SERVER_USER=""
EMAIL_SERVER_PASSWORD=""
EMAIL_FROM="no-reply@ADDRESS"
EMAIL_FROM="luis.abellan.dev@gmail.com"
GOOGLE_REDIRECT_URI="http://ADDRESS/api/auth/callback/google"
YOUTUBE_API_KEY=""
UPLOADER_SECRET=""